/* media query mixins */

$mobilePortrait: 480px;
$mobileLandscape: 40.063em;
$tablet: 64.063em;
$desktop: 1024px;
@mixin desktop {
    @media (min-width: #{desktop}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}

@mixin mobileLandscape {
    @media (max-width: #{$mobileLandscape}) {
        @content;
    }
}

@mixin mobilePortrait {
    @media (max-width: #{$mobilePortrait}) {
        @content;
    }
}
@mixin mobile {
     @media (max-width: #{$mobileLandscape}) {
        @content;
    }
}

@mixin iphone4 {
    @media (max-width: #{$mobilePortrait}) and (max-height: 480px) {
        @content;
    }
}

@mixin iphone5 {
    @media (max-width: #{$mobilePortrait}) and (max-height: 568px) {
        @content;
    }
}

@mixin iphone6 {
    @media (max-width: #{$mobilePortrait}) and (max-height: 736px) {
        @content;
    }
}


/* Example: 

    div {
        @include mobilePortrat {
            height:50px;
        }
    }
*/





