@mixin transition($transition-property, $transition-time, $method:linear) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin animationDelay($time) {
     -webkit-animation-delay: $time; /* Chrome, Safari, Opera */
     -moz-animation-delay: $time;
     -ms-animation-delay: $time;
     -o-animation-delay: $time;
     animation-delay: $time;
}


/*  (If no transition defined, default to linear) 
    div  {
        @include transition(all, 1s, ease-in-out) 
    }
*/

@mixin borderRadius($content) {
    border-radius: $content;
    -webkit-border-radius: $content;
    -moz-border-radius: $content;
}


/* 
    div {
        @include borderRadius(10px); 
    }
*/


/* Placeholder mixin for crossbrowser placeholders */

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        @content;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}


/* example: 
input { 
    @include placeholder { 
        color: black; 
    } 
} */


/* white space fix cross browser */

@mixin whiteSpace {
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}


/* body a {
    @include whiteSpace
}

*/


/* Box shadow */

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow: inset $top $left $blur $color;
        -moz-box-shadow: inset $top $left $blur $color;
        box-shadow: inset $top $left $blur $color;
    }
    @else {
        -webkit-box-shadow: $top $left $blur $color;
        -moz-box-shadow: $top $left $blur $color;
        box-shadow: $top $left $blur $color;
    }
}


/* include fonts */

$oxygenFont: 'Oxygen',
sans-serif;
$sourceSansFont: 'Source Sans Pro',
sans-serif;
@mixin sourceSans($fontSize:"") {
    font-family: $sourceSansFont;
    font-weight: 400;
    font-size: unquote($fontSize);
}

@mixin sourceSansSemiBoldItalic($fontSize:"") {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: unquote($fontSize);
}

@mixin oxygenLight($fontSize:"") {
    font-family: $oxygenFont;
    font-weight: 300;
    font-size: $fontSize;
}


/* example : @include oxygenLight(1.2em) { color:black; } */


/* flex flow */

@mixin flexFlow($content) {
    -webkit-flex-flow: $content;
    -ms-flex-flow: $content;
    flex-flow: $content;
}


/* media query mixins */

$mobilePortrait: 480px;
$mobileLandscape: 768px;
$tablet: 1024px;
$desktop: 1024px;
@mixin desktop {
    @media (min-width: #{desktop}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}

@mixin mobileLandscape {
    @media (max-width: #{$mobileLandscape}) {
        @content;
    }
}

@mixin mobilePortrait {
    @media (max-width: #{$mobilePortrait}) {
        @content;
    }
}
@mixin mobile {
     @media (max-width: #{$mobilePortrait}) {
        @content;
    }
}

@mixin iphone4 {
    @media (max-width: #{$mobilePortrait}) and (max-height: 480px) {
        @content;
    }
}

@mixin iphone5 {
    @media (max-width: #{$mobilePortrait}) and (max-height: 568px) {
        @content;
    }
}

@mixin iphone6 {
    @media (max-width: #{$mobilePortrait}) and (max-height: 736px) {
        @content;
    }
}


/* Example: 

    div {
        @include mobilePortrat {
            height:50px;
        }
    }
*/

@mixin formStyles {
    @include borderRadius(5px);
    @include box-shadow(0px, 0px, 2px, $lightgrey, inset);
    @include placeholder {
        color: $lightgrey;
    }
}

@mixin filterStyles {
    @include borderRadius(20px);
    @include box-shadow(0px, 0px, 2px, $lightgrey, inset);
    @include placeholder {
        color: $lightgrey;
    }
    padding:0 20px;
}

@mixin homeFormStyles {
    @include box-shadow(0px, 0px, 0px, $lightgrey, inset);
    @include placeholder {
        color: white;
    }
    background:none!important;
    border:0;
    outline:0;
    border-bottom:1px solid white;
    padding:0 20px;
    color:white;
    @include openSansLight(0.8em);
    text-align:center;
}